html {
	--bg: #F6F0E7;
	--fg: #A5BBCA;
	--fg-light: #f4ece6;
    --fg-dark: #e6dace;
    --text: #241E2F;
	--text-dark: #303638;
    --action-light: #314951;
    --action: #284958;
    --action-dark: #05263B;
}

body {
	background-color: var(--bg)/25;
	color: var(--text);
	transition: background-color 0.6s;
	position: relative;
	min-height: 100vh;
	height:max-content;
	width: 100vw;
	display: flex;
  flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body .custom-container {
	flex-grow: 1;
	flex-shrink: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
	margin: 0;
	padding: 0;
}

body *:focus-visible {
	outline: none;
}

html.dark body {
	background-color: var(--action-dark);
	color: var(--bg);
	transition: background-color 0.6s;
}

p {
    color: var(--action);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms;
  transition-delay: 0;
}
